h1 {
	text-align: center;
	font-weight: bold;
}

b {
	font-size: 18px;

.collapsible-body {
	background-color: white;
}

.delete-comment {
	color: white; 
	background-color: red; 
	border-color: red;
}